{"openapi":"3.1.0","info":{"title":"IGRUS Web API","description":"인하대학교 정보통신처 소속 컴퓨터 연구 동아리 IGRUS 웹사이트 API\n\n## 인증 방식\n\n이 API는 JWT (JSON Web Token) 기반 Bearer 인증을 사용합니다.\n\n### 인증 헤더 형식\n```\nAuthorization: Bearer {access_token}\n```\n\n### 사용 방법\n1. 로그인 API를 호출하여 Access Token을 발급받습니다.\n2. 인증이 필요한 API 호출 시, HTTP 헤더에 위 형식으로 토큰을 포함합니다.\n\n### 예시\n```\nGET /api/v1/users/me\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...\n```\n\n### 토큰 정보\n- **Access Token**: API 요청 인증에 사용 (유효 기간: 설정에 따름)\n- **Refresh Token**: Access Token 갱신에 사용 (유효 기간: 설정에 따름)\n\n### 주의사항\n- Access Token이 만료되면 Refresh Token을 사용하여 새로운 Access Token을 발급받아야 합니다.\n- Refresh Token도 만료되면 다시 로그인해야 합니다.\n","version":"v1.0.0"},"servers":[{"url":"http://igrus-web-alb-535342735.ap-northeast-2.elb.amazonaws.com","description":"API Server"}],"tags":[{"name":"Semester Member","description":"학기별 회원 명단 조회 API (운영진 이상)"},{"name":"Comment Report","description":"댓글 신고 API"},{"name":"Bookmark","description":"북마크 API"},{"name":"Admin Semester Member","description":"학기별 회원 관리 API (ADMIN 전용)"},{"name":"Board","description":"게시판 API"},{"name":"PostLike","description":"게시글 좋아요 API"},{"name":"Comment","description":"댓글 API"},{"name":"Inquiry","description":"문의 API"},{"name":"Post","description":"게시글 API"},{"name":"Health","description":"헬스체크 API"},{"name":"Password Authentication","description":"비밀번호 기반 인증 관련 API"},{"name":"Comment Like","description":"댓글 좋아요 API"},{"name":"Admin Member Management","description":"관리자 회원 관리 API (ADMIN 전용)"}],"paths":{"/api/v1/inquiries/{id}/status":{"put":{"tags":["Inquiry"],"summary":"문의 상태 변경","description":"관리자가 문의의 처리 상태를 변경합니다. OPERATOR 또는 ADMIN 권한이 필요합니다.","operationId":"updateInquiryStatus","parameters":[{"name":"id","in":"path","description":"문의 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateInquiryStatusRequest"}}},"required":true},"responses":{"200":{"description":"상태 변경 성공"},"401":{"description":"인증 필요"},"403":{"description":"권한 없음"},"404":{"description":"문의를 찾을 수 없음"}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/inquiries/{id}/reply":{"put":{"tags":["Inquiry"],"summary":"답변 수정","description":"관리자가 기존 답변을 수정합니다. 답변이 없는 경우 에러가 발생합니다. OPERATOR 또는 ADMIN 권한이 필요합니다.","operationId":"updateReply","parameters":[{"name":"id","in":"path","description":"문의 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateInquiryReplyRequest"}}},"required":true},"responses":{"200":{"description":"답변 수정 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryReplyResponse"}}}},"401":{"description":"인증 필요","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryReplyResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryReplyResponse"}}}},"404":{"description":"문의 또는 답변을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryReplyResponse"}}}}},"security":[{"Bearer Authentication":[]}]},"post":{"tags":["Inquiry"],"summary":"답변 작성","description":"관리자가 문의에 답변을 작성합니다. 이미 답변이 있는 경우 에러가 발생합니다. OPERATOR 또는 ADMIN 권한이 필요합니다.","operationId":"createReply","parameters":[{"name":"id","in":"path","description":"문의 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInquiryReplyRequest"}}},"required":true},"responses":{"201":{"description":"답변 작성 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryReplyResponse"}}}},"401":{"description":"인증 필요","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryReplyResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryReplyResponse"}}}},"404":{"description":"문의를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryReplyResponse"}}}},"409":{"description":"이미 답변이 존재함","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryReplyResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/boards/{boardCode}/posts/{postId}":{"get":{"tags":["Post"],"summary":"게시글 상세 조회","description":"게시글의 상세 정보를 조회합니다. 조회 시 조회수가 1 증가합니다.","operationId":"getPostDetail","parameters":[{"name":"boardCode","in":"path","description":"게시판 코드","required":true,"schema":{"type":"string"},"example":"GENERAL"},{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"게시글 상세 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDetailResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"읽기 권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]},"put":{"tags":["Post"],"summary":"게시글 수정","description":"게시글을 수정합니다. 작성자 본인 또는 관리자만 수정 가능합니다.","operationId":"updatePost","parameters":[{"name":"boardCode","in":"path","description":"게시판 코드","required":true,"schema":{"type":"string"},"example":"GENERAL"},{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePostRequest"}}},"required":true},"responses":{"200":{"description":"게시글 수정 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostUpdateResponse"}}}},"400":{"description":"잘못된 요청 (제목 누락, 100자 초과, 이미지 5개 초과 등)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"수정 권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]},"delete":{"tags":["Post"],"summary":"게시글 삭제","description":"게시글을 삭제합니다. 작성자 본인 또는 운영자 이상 권한을 가진 사용자만 삭제 가능합니다.","operationId":"deletePost","parameters":[{"name":"boardCode","in":"path","description":"게시판 코드","required":true,"schema":{"type":"string"},"example":"GENERAL"},{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"204":{"description":"게시글 삭제 성공"},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"삭제 권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/posts/{postId}/likes":{"post":{"tags":["PostLike"],"summary":"게시글 좋아요 토글","description":"게시글 좋아요를 토글합니다. 좋아요가 없으면 추가하고, 있으면 취소합니다.","operationId":"toggleLike","parameters":[{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"좋아요 토글 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostLikeToggleResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"정회원 이상 권한 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"410":{"description":"삭제된 게시글","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/posts/{postId}/comments":{"get":{"tags":["Comment"],"summary":"댓글 목록 조회","description":"게시글의 댓글 목록을 계층 구조로 조회합니다. 등록순(오래된 순)으로 정렬됩니다.","operationId":"getComments","parameters":[{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"댓글 목록 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentListResponse"}}}},"404":{"description":"게시글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]},"post":{"tags":["Comment"],"summary":"댓글 작성","description":"게시글에 댓글을 작성합니다. 정회원 이상만 작성 가능합니다.","operationId":"createComment","parameters":[{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCommentRequest"}}},"required":true},"responses":{"201":{"description":"댓글 작성 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentResponse"}}}},"400":{"description":"잘못된 요청 (내용 누락, 500자 초과, 익명 불가 게시판 등)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"작성 권한 없음 (정회원 이상 필요)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/posts/{postId}/comments/{commentId}/replies":{"post":{"tags":["Comment"],"summary":"대댓글 작성","description":"댓글에 대댓글을 작성합니다. 정회원 이상만 작성 가능하며, 대댓글에는 답글을 달 수 없습니다 (1단계까지만 허용).","operationId":"createReply_1","parameters":[{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"commentId","in":"path","description":"부모 댓글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCommentRequest"}}},"required":true},"responses":{"201":{"description":"대댓글 작성 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentResponse"}}}},"400":{"description":"잘못된 요청 (대댓글에 답글 시도, 내용 누락, 500자 초과 등)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"작성 권한 없음 (정회원 이상 필요)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글 또는 부모 댓글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/posts/{postId}/bookmarks":{"post":{"tags":["Bookmark"],"summary":"북마크 토글","description":"게시글 북마크를 토글합니다. 북마크가 없으면 추가하고, 있으면 취소합니다.","operationId":"toggleBookmark","parameters":[{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"북마크 토글 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookmarkToggleResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"정회원 이상 권한 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"410":{"description":"삭제된 게시글","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/inquiries/{id}/memo":{"post":{"tags":["Inquiry"],"summary":"내부 메모 작성","description":"관리자가 문의에 대한 내부 메모를 작성합니다. 메모는 관리자에게만 보입니다. OPERATOR 또는 ADMIN 권한이 필요합니다.","operationId":"createMemo","parameters":[{"name":"id","in":"path","description":"문의 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInquiryMemoRequest"}}},"required":true},"responses":{"201":{"description":"메모 작성 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryMemoResponse"}}}},"401":{"description":"인증 필요","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryMemoResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryMemoResponse"}}}},"404":{"description":"문의를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryMemoResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/inquiries/member":{"post":{"tags":["Inquiry"],"summary":"회원 문의 작성","description":"로그인한 회원이 문의를 작성합니다. JWT 인증이 필요합니다.","operationId":"createMemberInquiry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMemberInquiryRequest"}}},"required":true},"responses":{"201":{"description":"문의 생성 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateInquiryResponse"}}}},"400":{"description":"잘못된 요청 (유효성 검증 실패)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateInquiryResponse"}}}},"401":{"description":"인증 필요","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateInquiryResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/inquiries/lookup":{"post":{"tags":["Inquiry"],"summary":"비회원 문의 조회","description":"문의번호, 이메일, 비밀번호로 비회원 문의를 조회합니다.","operationId":"lookupGuestInquiry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestInquiryLookupRequest"}}},"required":true},"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryResponse"}}}},"401":{"description":"비밀번호 불일치","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryResponse"}}}},"404":{"description":"문의를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryResponse"}}}}}}},"/api/v1/inquiries/guest":{"post":{"tags":["Inquiry"],"summary":"비회원 문의 작성","description":"비회원이 문의를 작성합니다. 이메일, 이름, 비밀번호가 필수입니다.","operationId":"createGuestInquiry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGuestInquiryRequest"}}},"required":true},"responses":{"201":{"description":"문의 생성 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateInquiryResponse"}}}},"400":{"description":"잘못된 요청 (유효성 검증 실패)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateInquiryResponse"}}}}}}},"/api/v1/comments/{commentId}/reports":{"post":{"tags":["Comment Report"],"summary":"댓글 신고","description":"댓글을 신고합니다. 동일 사용자가 동일 댓글을 중복 신고할 수 없습니다.","operationId":"reportComment","parameters":[{"name":"commentId","in":"path","description":"댓글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCommentReportRequest"}}},"required":true},"responses":{"201":{"description":"신고 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentReportResponse"}}}},"400":{"description":"잘못된 요청 (신고 사유 누락, 중복 신고)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"댓글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/comments/{commentId}/likes":{"post":{"tags":["Comment Like"],"summary":"댓글 좋아요","description":"댓글에 좋아요를 추가합니다. 본인 댓글에는 좋아요할 수 없습니다.","operationId":"likeComment","parameters":[{"name":"commentId","in":"path","description":"댓글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"201":{"description":"좋아요 성공"},"400":{"description":"잘못된 요청 (본인 댓글에 좋아요, 이미 좋아요한 댓글)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"댓글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]},"delete":{"tags":["Comment Like"],"summary":"댓글 좋아요 취소","description":"댓글 좋아요를 취소합니다.","operationId":"unlikeComment","parameters":[{"name":"commentId","in":"path","description":"댓글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"204":{"description":"좋아요 취소 성공"},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"댓글 또는 좋아요 정보를 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/boards/{boardCode}/posts":{"get":{"tags":["Post"],"summary":"게시글 목록 조회","description":"게시판의 게시글 목록을 페이징하여 조회합니다. 키워드 검색 및 질문글 필터링을 지원합니다.","operationId":"getPostList","parameters":[{"name":"boardCode","in":"path","description":"게시판 코드","required":true,"schema":{"type":"string"},"example":"GENERAL"},{"name":"keyword","in":"query","description":"검색 키워드","required":false,"schema":{"type":"string"}},{"name":"questionOnly","in":"query","description":"질문글만 조회 여부","required":false,"schema":{"type":"boolean"}},{"name":"page","in":"query","description":"페이지 번호 (0부터 시작)","required":false,"schema":{"type":"integer","default":0,"minimum":0},"example":"0"},{"name":"size","in":"query","description":"페이지당 항목 수","required":false,"schema":{"type":"integer","default":20,"minimum":1},"example":"20"},{"name":"sort","in":"query","description":"정렬 조건. 여러 정렬은 sort를 여러 번 지정합니다. (sort=createdAt,DESC&sort=id,ASC)","required":false,"schema":{"type":"array","default":["createdAt,DESC"],"items":{"type":"string"}},"example":"createdAt,desc"}],"responses":{"200":{"description":"게시글 목록 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostListPageResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"읽기 권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시판을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]},"post":{"tags":["Post"],"summary":"게시글 작성","description":"게시판에 새 게시글을 작성합니다","operationId":"createPost","parameters":[{"name":"boardCode","in":"path","description":"게시판 코드","required":true,"schema":{"type":"string"},"example":"general"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePostRequest"}}},"required":true},"responses":{"201":{"description":"게시글 작성 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCreateResponse"}}}},"400":{"description":"잘못된 요청 (제목 누락, 100자 초과, 이미지 5개 초과 등)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"쓰기 권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시판을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"게시글 작성 제한 초과 (시간당 20회)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/auth/password/verify-email":{"post":{"tags":["Password Authentication"],"summary":"이메일 인증","description":"이메일로 발송된 인증 코드를 확인합니다.","operationId":"verifyEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailVerificationRequest"}}},"required":true},"responses":{"200":{"description":"이메일 인증 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PasswordSignupResponse"}}}},"400":{"description":"잘못된 인증 코드 또는 만료된 코드"},"429":{"description":"인증 시도 횟수 초과"}}}},"/api/v1/auth/password/signup":{"post":{"tags":["Password Authentication"],"summary":"회원가입","description":"새로운 회원을 등록합니다. 등록 후 이메일 인증이 필요합니다.","operationId":"signup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordSignupRequest"}}},"required":true},"responses":{"201":{"description":"회원가입 요청 성공 (이메일 인증 대기)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PasswordSignupResponse"}}}},"400":{"description":"잘못된 요청 (유효성 검증 실패)"},"409":{"description":"중복된 학번, 이메일 또는 전화번호"}}}},"/api/v1/auth/password/reset-request":{"post":{"tags":["Password Authentication"],"summary":"비밀번호 재설정 요청","description":"학번을 입력하여 비밀번호 재설정 링크를 이메일로 발송합니다. 보안상 존재하지 않는 학번도 동일한 응답을 반환합니다.","operationId":"requestPasswordReset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetRequest"}}},"required":true},"responses":{"200":{"description":"요청 처리 완료 (이메일이 등록된 경우 재설정 링크 발송)"},"400":{"description":"잘못된 요청 (학번 형식 오류)"}}}},"/api/v1/auth/password/reset-confirm":{"post":{"tags":["Password Authentication"],"summary":"비밀번호 재설정 확인","description":"재설정 토큰과 새 비밀번호를 입력하여 비밀번호를 변경합니다. 비밀번호는 영문 대/소문자, 숫자, 특수문자를 포함한 8자 이상이어야 합니다.","operationId":"confirmPasswordReset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetConfirmRequest"}}},"required":true},"responses":{"200":{"description":"비밀번호 재설정 성공"},"400":{"description":"잘못된 요청 (유효성 검증 실패) 또는 유효하지 않은/만료된 토큰"}}}},"/api/v1/auth/password/resend-verification":{"post":{"tags":["Password Authentication"],"summary":"인증 코드 재발송","description":"이메일 인증 코드를 다시 발송합니다.","operationId":"resendVerification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendVerificationRequest"}}},"required":true},"responses":{"200":{"description":"인증 코드 재발송 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VerificationResendResponse"}}}},"400":{"description":"잘못된 요청 (유효성 검증 실패)"},"429":{"description":"재발송 요청 횟수 초과 (5분 내 재요청 불가)"}}}},"/api/v1/auth/password/refresh":{"post":{"tags":["Password Authentication"],"summary":"토큰 갱신","description":"리프레시 토큰으로 새로운 액세스 토큰을 발급합니다.","operationId":"refreshToken","responses":{"200":{"description":"토큰 갱신 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenRefreshResponse"}}}},"400":{"description":"잘못된 요청 (유효성 검증 실패)"},"401":{"description":"유효하지 않거나 만료된 리프레시 토큰"}}}},"/api/v1/auth/password/logout":{"post":{"tags":["Password Authentication"],"summary":"로그아웃","description":"리프레시 토큰을 무효화하여 로그아웃합니다.","operationId":"logout","responses":{"200":{"description":"로그아웃 성공"},"400":{"description":"잘못된 요청 (유효성 검증 실패)"},"401":{"description":"유효하지 않은 리프레시 토큰"}}}},"/api/v1/auth/password/login":{"post":{"tags":["Password Authentication"],"summary":"로그인","description":"학번과 비밀번호로 로그인합니다.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordLoginRequest"}}},"required":true},"responses":{"200":{"description":"로그인 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PasswordLoginResponse"}}}},"400":{"description":"잘못된 요청 (유효성 검증 실패)"},"401":{"description":"인증 실패 (학번 또는 비밀번호 불일치)"},"403":{"description":"이메일 인증 미완료"}}}},"/api/v1/auth/password/account/recover":{"post":{"tags":["Password Authentication"],"summary":"계정 복구","description":"탈퇴한 계정을 복구합니다. 탈퇴 후 5일 이내에만 가능하며, 학번과 비밀번호로 인증이 필요합니다. 복구 성공 시 새로운 Access Token과 Refresh Token이 발급됩니다.","operationId":"recoverAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountRecoveryRequest"}}},"required":true},"responses":{"200":{"description":"계정 복구 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountRecoveryResponse"}}}},"400":{"description":"잘못된 요청 (유효성 검증 실패) 또는 복구 기간 만료"},"401":{"description":"인증 실패 (학번 또는 비밀번호 불일치)"}}}},"/api/v1/admin/semesters/{year}/{semester}/members":{"post":{"tags":["Admin Semester Member"],"summary":"회원 일괄 등록","description":"선택된 회원들을 특정 학기에 일괄 등록합니다. 이미 등록된 회원은 건너뜁니다.","operationId":"registerMembers","parameters":[{"name":"year","in":"path","description":"연도","required":true,"schema":{"type":"integer","format":"int32"},"example":2026},{"name":"semester","in":"path","description":"학기 (1 또는 2)","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterSemesterMembersRequest"}}},"required":true},"responses":{"200":{"description":"등록 완료","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisterSemesterMembersResponse"}}}},"400":{"description":"잘못된 요청 (빈 목록, 잘못된 연도/학기)"},"401":{"description":"인증 필요"},"403":{"description":"권한 없음 (ADMIN 권한 필요)"}},"security":[{"Bearer Authentication":[]}]},"delete":{"tags":["Admin Semester Member"],"summary":"회원 일괄 제외","description":"선택된 회원들을 특정 학기에서 일괄 제외합니다.","operationId":"removeMembers","parameters":[{"name":"year","in":"path","description":"연도","required":true,"schema":{"type":"integer","format":"int32"},"example":2026},{"name":"semester","in":"path","description":"학기 (1 또는 2)","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveSemesterMembersRequest"}}},"required":true},"responses":{"200":{"description":"제외 완료","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}},"400":{"description":"잘못된 요청 (빈 목록, 잘못된 연도/학기)"},"401":{"description":"인증 필요"},"403":{"description":"권한 없음 (ADMIN 권한 필요)"}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/admin/members/{id}/approve":{"post":{"tags":["Admin Member Management"],"summary":"개별 준회원 승인","description":"특정 준회원을 정회원으로 승인합니다. ADMIN 권한이 필요합니다.","operationId":"approveAssociate","parameters":[{"name":"id","in":"path","description":"승인할 사용자 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"승인 성공"},"401":{"description":"인증 필요 (로그인하지 않음)"},"403":{"description":"권한 없음 (ADMIN 권한 필요)"},"404":{"description":"사용자를 찾을 수 없음"},"400":{"description":"해당 사용자가 준회원이 아님"}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/admin/members/approve/bulk":{"post":{"tags":["Admin Member Management"],"summary":"준회원 일괄 승인","description":"여러 준회원을 한 번에 정회원으로 승인합니다. ADMIN 권한이 필요합니다. 일부 사용자 승인이 실패해도 나머지는 정상 처리됩니다.","operationId":"approveBulk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkApprovalRequest"}}},"required":true},"responses":{"200":{"description":"일괄 승인 처리 완료 (부분 성공 가능)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkApprovalResultResponse"}}}},"401":{"description":"인증 필요 (로그인하지 않음)"},"403":{"description":"권한 없음 (ADMIN 권한 필요)"},"400":{"description":"승인할 사용자 목록이 비어있음"}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/admin/comment-reports/{reportId}":{"patch":{"tags":["Comment Report"],"summary":"신고 처리 (관리자)","description":"신고를 처리합니다 (승인/반려). OPERATOR 이상 권한이 필요합니다.","operationId":"updateReportStatus","parameters":[{"name":"reportId","in":"path","description":"신고 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateReportStatusRequest"}}},"required":true},"responses":{"204":{"description":"신고 처리 성공"},"400":{"description":"잘못된 요청 (상태 누락)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"권한 없음 (OPERATOR 이상 필요)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"신고를 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/users/me/likes":{"get":{"tags":["PostLike"],"summary":"내 게시글 좋아요 목록 조회","description":"내가 좋아요한 게시글 목록을 조회합니다.","operationId":"getMyLikes","parameters":[{"name":"page","in":"query","description":"페이지 번호 (0부터 시작)","required":false,"schema":{"type":"integer","default":0,"minimum":0},"example":"0"},{"name":"size","in":"query","description":"페이지당 항목 수","required":false,"schema":{"type":"integer","default":20,"minimum":1},"example":"20"},{"name":"sort","in":"query","description":"정렬 조건. 여러 정렬은 sort를 여러 번 지정합니다. (sort=createdAt,DESC&sort=id,ASC)","required":false,"schema":{"type":"array","default":["createdAt,DESC"],"items":{"type":"string"}},"example":"createdAt,desc"}],"responses":{"200":{"description":"좋아요 목록 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageLikedPostResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/users/me/bookmarks":{"get":{"tags":["Bookmark"],"summary":"내 북마크 목록 조회","description":"내가 북마크한 게시글 목록을 조회합니다.","operationId":"getMyBookmarks","parameters":[{"name":"page","in":"query","description":"페이지 번호 (0부터 시작)","required":false,"schema":{"type":"integer","default":0,"minimum":0},"example":"0"},{"name":"size","in":"query","description":"페이지당 항목 수","required":false,"schema":{"type":"integer","default":20,"minimum":1},"example":"20"},{"name":"sort","in":"query","description":"정렬 조건. 여러 정렬은 sort를 여러 번 지정합니다. (sort=createdAt,DESC&sort=id,ASC)","required":false,"schema":{"type":"array","default":["createdAt,DESC"],"items":{"type":"string"}},"example":"createdAt,desc"}],"responses":{"200":{"description":"북마크 목록 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageBookmarkedPostResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/semesters":{"get":{"tags":["Semester Member"],"summary":"학기 목록 조회","description":"멤버십 기록이 존재하는 학기 목록을 회원 수와 함께 최신순으로 조회합니다.","operationId":"getSemesterList","responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SemesterSummaryResponse"}}}}},"401":{"description":"인증 필요"},"403":{"description":"권한 없음 (OPERATOR 이상 필요)"}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/semesters/{year}/{semester}/members":{"get":{"tags":["Semester Member"],"summary":"학기별 회원 명단 조회","description":"특정 학기의 회원 명단을 조회합니다. 탈퇴 회원도 포함됩니다.","operationId":"getMemberList","parameters":[{"name":"year","in":"path","description":"연도","required":true,"schema":{"type":"integer","format":"int32"},"example":2026},{"name":"semester","in":"path","description":"학기 (1 또는 2)","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"keyword","in":"query","description":"검색 키워드 (학번, 이름)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SemesterMemberListResponse"}}}}},"400":{"description":"잘못된 연도 또는 학기"},"401":{"description":"인증 필요"},"403":{"description":"권한 없음 (OPERATOR 이상 필요)"}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/posts/{postId}/likes/status":{"get":{"tags":["PostLike"],"summary":"게시글 좋아요 상태 조회","description":"게시글의 좋아요 상태를 조회합니다.","operationId":"getLikeStatus","parameters":[{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"좋아요 상태 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostLikeStatusResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/posts/{postId}/bookmarks/status":{"get":{"tags":["Bookmark"],"summary":"북마크 상태 조회","description":"게시글의 북마크 상태를 조회합니다.","operationId":"getBookmarkStatus","parameters":[{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"북마크 상태 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookmarkStatusResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/inquiries":{"get":{"tags":["Inquiry"],"summary":"전체 문의 목록 조회","description":"관리자가 모든 문의를 조회합니다. 유형과 상태로 필터링할 수 있습니다. OPERATOR 또는 ADMIN 권한이 필요합니다.","operationId":"getAllInquiries","parameters":[{"name":"type","in":"query","description":"문의 유형 필터","required":false,"schema":{"type":"string","enum":["JOIN","EVENT","REPORT","ACCOUNT","OTHER"]},"example":"JOIN"},{"name":"status","in":"query","description":"처리 상태 필터","required":false,"schema":{"type":"string","enum":["PENDING","IN_PROGRESS","COMPLETED"]},"example":"PENDING"},{"name":"page","in":"query","description":"페이지 번호 (0부터 시작)","required":false,"schema":{"type":"integer","default":0,"minimum":0},"example":"0"},{"name":"size","in":"query","description":"페이지당 항목 수","required":false,"schema":{"type":"integer","default":20,"minimum":1},"example":"20"},{"name":"sort","in":"query","description":"정렬 조건. 여러 정렬은 sort를 여러 번 지정합니다. (sort=createdAt,DESC&sort=id,ASC)","required":false,"schema":{"type":"array","default":["createdAt,DESC"],"items":{"type":"string"}},"example":"createdAt,desc"}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageInquiryListResponse"}}}},"401":{"description":"인증 필요","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageInquiryListResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageInquiryListResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/inquiries/{id}":{"get":{"tags":["Inquiry"],"summary":"문의 상세 조회 (관리자)","description":"관리자가 특정 문의의 상세 정보(메모 포함)를 조회합니다. OPERATOR 또는 ADMIN 권한이 필요합니다.","operationId":"getInquiryDetail","parameters":[{"name":"id","in":"path","description":"문의 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryDetailResponse"}}}},"401":{"description":"인증 필요","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryDetailResponse"}}}},"403":{"description":"권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryDetailResponse"}}}},"404":{"description":"문의를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryDetailResponse"}}}}},"security":[{"Bearer Authentication":[]}]},"delete":{"tags":["Inquiry"],"summary":"문의 삭제","description":"관리자가 문의를 소프트 삭제합니다. OPERATOR 또는 ADMIN 권한이 필요합니다.","operationId":"deleteInquiry","parameters":[{"name":"id","in":"path","description":"문의 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"삭제 성공"},"401":{"description":"인증 필요"},"403":{"description":"권한 없음"},"404":{"description":"문의를 찾을 수 없음"}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/inquiries/my":{"get":{"tags":["Inquiry"],"summary":"내 문의 목록 조회","description":"로그인한 회원의 문의 목록을 조회합니다. JWT 인증이 필요합니다.","operationId":"getMyInquiries","parameters":[{"name":"page","in":"query","description":"페이지 번호 (0부터 시작)","required":false,"schema":{"type":"integer","default":0,"minimum":0},"example":"0"},{"name":"size","in":"query","description":"페이지당 항목 수","required":false,"schema":{"type":"integer","default":20,"minimum":1},"example":"20"},{"name":"sort","in":"query","description":"정렬 조건. 여러 정렬은 sort를 여러 번 지정합니다. (sort=createdAt,DESC&sort=id,ASC)","required":false,"schema":{"type":"array","default":["createdAt,DESC"],"items":{"type":"string"}},"example":"createdAt,desc"}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageInquiryListResponse"}}}},"401":{"description":"인증 필요","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageInquiryListResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/inquiries/my/{id}":{"get":{"tags":["Inquiry"],"summary":"내 문의 상세 조회","description":"로그인한 회원의 특정 문의 상세 정보를 조회합니다. JWT 인증이 필요합니다.","operationId":"getMyInquiry","parameters":[{"name":"id","in":"path","description":"문의 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryResponse"}}}},"401":{"description":"인증 필요","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryResponse"}}}},"404":{"description":"문의를 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InquiryResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/boards":{"get":{"tags":["Board"],"summary":"게시판 목록 조회","description":"사용자 역할에 따라 접근 가능한 게시판 목록을 조회합니다. 읽기 권한이 있는 게시판만 반환됩니다.","operationId":"getBoardList","responses":{"200":{"description":"게시판 목록 조회 성공","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BoardListResponse"}}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/boards/{code}":{"get":{"tags":["Board"],"summary":"게시판 상세 조회","description":"게시판 코드로 게시판 상세 정보를 조회합니다.","operationId":"getBoardByCode","parameters":[{"name":"code","in":"path","description":"게시판 코드 (notices, general, insight)","required":true,"schema":{"type":"string"},"example":"general"}],"responses":{"200":{"description":"게시판 상세 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardDetailResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시판을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/boards/{boardCode}/posts/{postId}/view-stats":{"get":{"tags":["Post"],"summary":"게시글 조회 통계","description":"게시글의 조회 통계를 조회합니다. OPERATOR 이상만 조회 가능합니다.","operationId":"getPostViewStats","parameters":[{"name":"boardCode","in":"path","description":"게시판 코드","required":true,"schema":{"type":"string"},"example":"GENERAL"},{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"조회 통계 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostViewStatsResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"조회 권한 없음 (OPERATOR 이상 필요)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/boards/{boardCode}/posts/{postId}/view-history":{"get":{"tags":["Post"],"summary":"게시글 조회 기록 목록","description":"게시글의 조회 기록을 페이징하여 조회합니다. OPERATOR 이상만 조회 가능합니다.","operationId":"getPostViewHistory","parameters":[{"name":"boardCode","in":"path","description":"게시판 코드","required":true,"schema":{"type":"string"},"example":"GENERAL"},{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"page","in":"query","description":"페이지 번호 (0부터 시작)","required":false,"schema":{"type":"integer","default":0,"minimum":0},"example":"0"},{"name":"size","in":"query","description":"페이지당 항목 수","required":false,"schema":{"type":"integer","default":20,"minimum":1},"example":"20"},{"name":"sort","in":"query","description":"정렬 조건. 여러 정렬은 sort를 여러 번 지정합니다. (sort=createdAt,DESC&sort=id,ASC)","required":false,"schema":{"type":"array","default":["createdAt,DESC"],"items":{"type":"string"}},"example":"createdAt,desc"}],"responses":{"200":{"description":"조회 기록 목록 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePostViewHistoryResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"조회 권한 없음 (OPERATOR 이상 필요)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/auth/password/reset-validate":{"get":{"tags":["Password Authentication"],"summary":"비밀번호 재설정 토큰 검증","description":"재설정 토큰의 유효성을 검증합니다. 토큰이 유효하고 만료되지 않았는지 확인합니다.","operationId":"validateResetToken","parameters":[{"name":"token","in":"query","description":"검증할 재설정 토큰","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"토큰 유효"},"400":{"description":"유효하지 않거나 만료된 토큰"}}}},"/api/v1/auth/password/account/recovery-check":{"get":{"tags":["Password Authentication"],"summary":"계정 복구 가능 여부 확인","description":"탈퇴한 계정의 복구 가능 여부를 확인합니다. 탈퇴 후 5일 이내에는 계정을 복구할 수 있습니다.","operationId":"checkRecoveryEligibility","parameters":[{"name":"studentId","in":"query","description":"복구 가능 여부를 확인할 학번 (8자리 숫자)","required":true,"schema":{"type":"string","pattern":"^\\d{8}$"},"example":12345678}],"responses":{"200":{"description":"복구 가능 여부 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RecoveryEligibilityResponse"}}}},"400":{"description":"잘못된 요청 (학번 형식 오류)"}}}},"/api/v1/admin/semesters/{year}/{semester}/candidates":{"get":{"tags":["Admin Semester Member"],"summary":"등록 후보 회원 목록 조회","description":"특정 학기에 등록 가능한 회원 목록을 조회합니다. ASSOCIATE 이상 + ACTIVE 상태 회원이 대상입니다.","operationId":"getCandidateMembers","parameters":[{"name":"year","in":"path","description":"연도","required":true,"schema":{"type":"integer","format":"int32"},"example":2026},{"name":"semester","in":"path","description":"학기 (1 또는 2)","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CandidateMemberResponse"}}}}},"400":{"description":"잘못된 연도 또는 학기"},"401":{"description":"인증 필요"},"403":{"description":"권한 없음 (ADMIN 권한 필요)"}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/admin/members/pending":{"get":{"tags":["Admin Member Management"],"summary":"승인 대기 준회원 목록 조회","description":"승인 대기 중인 준회원 목록을 페이지네이션하여 조회합니다. ADMIN 권한이 필요합니다.","operationId":"getPendingAssociates","parameters":[{"name":"page","in":"query","description":"페이지 번호 (0부터 시작)","required":false,"schema":{"type":"integer","default":0,"minimum":0},"example":"0"},{"name":"size","in":"query","description":"페이지당 항목 수","required":false,"schema":{"type":"integer","default":20,"minimum":1},"example":"20"},{"name":"sort","in":"query","description":"정렬 조건. 여러 정렬은 sort를 여러 번 지정합니다. (sort=createdAt,DESC&sort=id,ASC)","required":false,"schema":{"type":"array","default":["createdAt,DESC"],"items":{"type":"string"}},"example":"createdAt,desc"}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Page"}}}},"401":{"description":"인증 필요 (로그인하지 않음)"},"403":{"description":"권한 없음 (ADMIN 권한 필요)"}},"security":[{"Bearer Authentication":[]}]}},"/api/v1/admin/comment-reports":{"get":{"tags":["Comment Report"],"summary":"신고 목록 조회 (관리자)","description":"대기 중인 신고 목록을 조회합니다. OPERATOR 이상 권한이 필요합니다.","operationId":"getPendingReports","responses":{"200":{"description":"신고 목록 조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CommentReportResponse"}}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"권한 없음 (OPERATOR 이상 필요)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}},"/api/health":{"get":{"tags":["Health"],"summary":"헬스체크","description":"서버 상태를 확인합니다.","operationId":"healthCheck","responses":{"200":{"description":"서버 정상 작동","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}}}}},"/api/v1/posts/{postId}/comments/{commentId}":{"delete":{"tags":["Comment"],"summary":"댓글 삭제","description":"댓글을 삭제합니다. 작성자 본인 또는 운영자 이상 권한을 가진 사용자만 삭제 가능합니다. Soft Delete로 처리되며, 삭제된 댓글은 '삭제된 댓글입니다'로 표시됩니다.","operationId":"deleteComment","parameters":[{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"commentId","in":"path","description":"댓글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"204":{"description":"댓글 삭제 성공"},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"삭제 권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"댓글을 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"Bearer Authentication":[]}]}}},"components":{"schemas":{"UpdateInquiryStatusRequest":{"type":"object","description":"문의 상태 변경 요청","properties":{"status":{"type":"string","description":"변경할 문의 상태","enum":["PENDING","IN_PROGRESS","ANSWERED","CLOSED"],"example":"IN_PROGRESS"}},"required":["status"]},"UpdateInquiryReplyRequest":{"type":"object","description":"문의 답변 수정 요청","properties":{"content":{"type":"string","description":"수정할 답변 내용","example":"안녕하세요. 수정된 답변 내용입니다.","minLength":1}},"required":["content"]},"InquiryReplyResponse":{"type":"object","description":"문의 답변 응답","properties":{"id":{"type":"integer","format":"int64","description":"답변 ID","example":1},"content":{"type":"string","description":"답변 내용","example":"안녕하세요. 문의 주신 내용에 대해 답변 드립니다."},"repliedByName":{"type":"string","description":"답변 작성자 이름","example":"관리자"},"createdAt":{"type":"string","format":"date-time","description":"답변 작성 일시","example":"2024-01-16T10:30:00Z"}}},"UpdatePostRequest":{"type":"object","properties":{"title":{"type":"string","maxLength":100,"minLength":0},"content":{"type":"string","minLength":1},"isQuestion":{"type":"boolean"},"imageUrls":{"type":"array","items":{"type":"string"},"maxItems":5,"minItems":0}},"required":["content","title"]},"PostUpdateResponse":{"type":"object","properties":{"postId":{"type":"integer","format":"int64"},"boardCode":{"type":"string"},"title":{"type":"string"},"updatedAt":{"type":"string","format":"date-time"}}},"ErrorResponse":{"type":"object","description":"에러 응답","properties":{"status":{"type":"integer","format":"int32","description":"HTTP 상태 코드","example":400},"code":{"type":"string","description":"에러 코드","example":"AUTH_001"},"message":{"type":"string","description":"에러 메시지","example":"잘못된 요청입니다."},"timestamp":{"type":"string","format":"date-time","description":"에러 발생 시각","example":"2024-01-15T10:30:00Z"}}},"PostLikeToggleResponse":{"type":"object","description":"게시글 좋아요 토글 응답","properties":{"liked":{"type":"boolean","description":"현재 좋아요 상태","example":true},"likeCount":{"type":"integer","format":"int32","description":"게시글 총 좋아요 수","example":42}}},"CreateCommentRequest":{"type":"object","properties":{"content":{"type":"string","maxLength":500,"minLength":0},"anonymous":{"type":"boolean"}},"required":["content"]},"CommentResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"postId":{"type":"integer","format":"int64"},"parentCommentId":{"type":"integer","format":"int64"},"content":{"type":"string"},"authorId":{"type":"integer","format":"int64"},"authorName":{"type":"string"},"likeCount":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"anonymous":{"type":"boolean"},"deleted":{"type":"boolean"},"likedByMe":{"type":"boolean"}}},"BookmarkToggleResponse":{"type":"object","description":"북마크 토글 응답","properties":{"bookmarked":{"type":"boolean","description":"현재 북마크 상태","example":true}}},"CreateInquiryReplyRequest":{"type":"object","description":"문의 답변 작성 요청","properties":{"content":{"type":"string","description":"답변 내용","example":"안녕하세요. 문의 주신 내용에 대해 답변 드립니다.","minLength":1}},"required":["content"]},"CreateInquiryMemoRequest":{"type":"object","description":"문의 메모 작성 요청 (관리자용)","properties":{"content":{"type":"string","description":"메모 내용","example":"추가 확인 필요","minLength":1}},"required":["content"]},"InquiryMemoResponse":{"type":"object","description":"문의 메모 응답 (관리자용)","properties":{"id":{"type":"integer","format":"int64","description":"메모 ID","example":1},"content":{"type":"string","description":"메모 내용","example":"추가 확인 필요"},"writtenByName":{"type":"string","description":"메모 작성자 이름","example":"관리자"},"createdAt":{"type":"string","format":"date-time","description":"메모 작성 일시","example":"2024-01-15T11:30:00Z"}}},"AttachmentInfo":{"type":"object","description":"첨부파일 정보","properties":{"fileUrl":{"type":"string","description":"파일 URL","example":"https://storage.example.com/files/document.pdf","minLength":1,"pattern":"^https?://[\\w.-]+(?:\\.[\\w.-]+)+[\\w.,@?^=%&:/~+#-]*$"},"fileName":{"type":"string","description":"파일명 (255자 이내)","example":"document.pdf","maxLength":255,"minLength":0},"fileSize":{"type":"integer","format":"int64","description":"파일 크기 (바이트)","example":1024}},"required":["fileName","fileSize","fileUrl"]},"CreateMemberInquiryRequest":{"type":"object","description":"회원 문의 생성 요청","properties":{"type":{"type":"string","description":"문의 유형","enum":["JOIN","GENERAL","BUG_REPORT","SUGGESTION"],"example":"GENERAL"},"title":{"type":"string","description":"문의 제목 (100자 이내)","example":"활동 관련 문의드립니다","maxLength":100,"minLength":0},"content":{"type":"string","description":"문의 내용","example":"안녕하세요. 다음 활동 일정에 대해 문의드립니다.","minLength":1},"attachments":{"type":"array","description":"첨부파일 목록 (최대 3개)","items":{"$ref":"#/components/schemas/AttachmentInfo"},"maxItems":3,"minItems":0}},"required":["content","title","type"]},"CreateInquiryResponse":{"type":"object","description":"문의 생성 응답","properties":{"id":{"type":"integer","format":"int64","description":"생성된 문의 ID","example":1},"inquiryNumber":{"type":"string","description":"생성된 문의 번호","example":"INQ-20240115-001"},"message":{"type":"string","description":"결과 메시지","example":"문의가 접수되었습니다. 문의 번호: INQ-20240115-001"}}},"GuestInquiryLookupRequest":{"type":"object","description":"비회원 문의 조회 요청","properties":{"inquiryNumber":{"type":"string","description":"조회할 문의 번호","example":"INQ-20240115-001","minLength":1},"email":{"type":"string","format":"email","description":"문의 등록 시 사용한 이메일","example":"guest@example.com","minLength":1},"password":{"type":"string","format":"password","description":"문의 등록 시 설정한 비밀번호","example":"password123","minLength":1}},"required":["email","inquiryNumber","password"]},"AttachmentResponse":{"type":"object","description":"첨부파일 응답","properties":{"id":{"type":"integer","format":"int64","description":"첨부파일 ID","example":1},"fileUrl":{"type":"string","description":"파일 URL","example":"https://storage.example.com/files/document.pdf"},"fileName":{"type":"string","description":"파일명","example":"document.pdf"},"fileSize":{"type":"integer","format":"int64","description":"파일 크기 (바이트)","example":1024}}},"InquiryResponse":{"type":"object","description":"문의 응답","properties":{"id":{"type":"integer","format":"int64","description":"문의 고유 ID","example":1},"inquiryNumber":{"type":"string","description":"문의 번호","example":"INQ-20240115-001"},"type":{"type":"string","description":"문의 유형","enum":["JOIN","GENERAL","BUG_REPORT","SUGGESTION"],"example":"JOIN"},"typeDescription":{"type":"string","description":"문의 유형 설명","example":"가입 문의"},"status":{"type":"string","description":"문의 상태","enum":["PENDING","IN_PROGRESS","ANSWERED","CLOSED"],"example":"PENDING"},"statusDescription":{"type":"string","description":"문의 상태 설명","example":"대기중"},"title":{"type":"string","description":"문의 제목","example":"동아리 가입 문의드립니다"},"content":{"type":"string","description":"문의 내용","example":"안녕하세요. 동아리 가입 절차에 대해 문의드립니다."},"authorName":{"type":"string","description":"작성자 이름","example":"홍길동"},"authorEmail":{"type":"string","description":"작성자 이메일","example":"user@example.com"},"attachments":{"type":"array","description":"첨부파일 목록","items":{"$ref":"#/components/schemas/AttachmentResponse"}},"reply":{"$ref":"#/components/schemas/InquiryReplyResponse","description":"답변 (답변이 없는 경우 null)"},"createdAt":{"type":"string","format":"date-time","description":"문의 작성 일시","example":"2024-01-15T10:30:00Z"},"updatedAt":{"type":"string","format":"date-time","description":"문의 수정 일시","example":"2024-01-15T11:00:00Z"},"guest":{"type":"boolean"}}},"CreateGuestInquiryRequest":{"type":"object","description":"비회원 문의 생성 요청","properties":{"type":{"type":"string","description":"문의 유형","enum":["JOIN","GENERAL","BUG_REPORT","SUGGESTION"],"example":"JOIN"},"title":{"type":"string","description":"문의 제목 (100자 이내)","example":"동아리 가입 문의드립니다","maxLength":100,"minLength":0},"content":{"type":"string","description":"문의 내용","example":"안녕하세요. 동아리 가입 절차에 대해 문의드립니다.","minLength":1},"email":{"type":"string","format":"email","description":"비회원 이메일","example":"guest@example.com","minLength":1},"name":{"type":"string","description":"비회원 이름 (50자 이내)","example":"김철수","maxLength":50,"minLength":0},"password":{"type":"string","format":"password","description":"문의 조회용 비밀번호","example":"password123","minLength":1},"attachments":{"type":"array","description":"첨부파일 목록 (최대 3개)","items":{"$ref":"#/components/schemas/AttachmentInfo"},"maxItems":3,"minItems":0}},"required":["content","email","name","password","title","type"]},"CreateCommentReportRequest":{"type":"object","properties":{"reason":{"type":"string","minLength":1}},"required":["reason"]},"CommentReportResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"commentId":{"type":"integer","format":"int64"},"commentContent":{"type":"string"},"reporterId":{"type":"integer","format":"int64"},"reporterName":{"type":"string"},"reason":{"type":"string"},"status":{"type":"string","enum":["PENDING","RESOLVED","DISMISSED"]},"createdAt":{"type":"string","format":"date-time"},"resolvedAt":{"type":"string","format":"date-time"},"resolvedById":{"type":"integer","format":"int64"},"resolvedByName":{"type":"string"}}},"CreatePostRequest":{"type":"object","properties":{"title":{"type":"string","maxLength":100,"minLength":0},"content":{"type":"string","minLength":1},"isAnonymous":{"type":"boolean"},"isQuestion":{"type":"boolean"},"isVisibleToAssociate":{"type":"boolean"},"imageUrls":{"type":"array","items":{"type":"string"},"maxItems":5,"minItems":0}},"required":["content","title"]},"PostCreateResponse":{"type":"object","properties":{"postId":{"type":"integer","format":"int64"},"boardCode":{"type":"string"},"title":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"EmailVerificationRequest":{"type":"object","description":"이메일 인증 요청","properties":{"email":{"type":"string","format":"email","description":"인증할 이메일 주소","example":"user@inha.edu","minLength":1},"code":{"type":"string","description":"6자리 인증 코드","example":123456,"maxLength":6,"minLength":6}},"required":["code","email"]},"PasswordSignupResponse":{"type":"object","description":"회원가입 응답","properties":{"message":{"type":"string","description":"처리 결과 메시지","example":"회원가입 요청이 완료되었습니다. 이메일로 발송된 인증 코드를 입력해주세요."},"email":{"type":"string","description":"가입 요청한 이메일 주소","example":"user@inha.edu"},"requiresVerification":{"type":"boolean","description":"이메일 인증 필요 여부","example":true}}},"PasswordSignupRequest":{"type":"object","description":"비밀번호 기반 회원가입 요청","properties":{"studentId":{"type":"string","description":"학번 (8자리 숫자)","example":12345678,"minLength":1,"pattern":"^\\d{8}$"},"name":{"type":"string","description":"사용자 이름","example":"홍길동","maxLength":50,"minLength":0},"email":{"type":"string","format":"email","description":"이메일 주소","example":"user@inha.edu","minLength":1},"password":{"type":"string","format":"password","description":"비밀번호 (영문 대/소문자, 숫자, 특수문자 포함 8~72자)","example":"Password1!","maxLength":72,"minLength":8,"pattern":"^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&])[A-Za-z\\d@$!%*?&]{8,72}$"},"phoneNumber":{"type":"string","description":"전화번호","example":"010-1234-5678","minLength":1,"pattern":"^01[0-9]-?\\d{3,4}-?\\d{4}$"},"department":{"type":"string","description":"학과명","example":"컴퓨터공학과","maxLength":50,"minLength":0},"motivation":{"type":"string","description":"동아리 가입 동기","example":"웹 개발 역량을 키우고 싶습니다.","minLength":1},"gender":{"type":"string","description":"성별","enum":["MALE","FEMALE"],"example":"MALE"},"grade":{"type":"integer","format":"int32","description":"학년 (1 이상)","example":1,"minimum":1},"privacyConsent":{"type":"boolean","description":"개인정보 처리방침 동의 여부","example":true}},"required":["department","email","gender","grade","motivation","name","password","phoneNumber","privacyConsent","studentId"]},"PasswordResetRequest":{"type":"object","description":"비밀번호 재설정 요청","properties":{"studentId":{"type":"string","description":"학번 (8자리 숫자)","example":12345678,"minLength":1,"pattern":"^\\d{8}$"}},"required":["studentId"]},"PasswordResetConfirmRequest":{"type":"object","description":"비밀번호 재설정 확인 요청","properties":{"token":{"type":"string","description":"재설정 토큰","example":"550e8400-e29b-41d4-a716-446655440000","minLength":1},"newPassword":{"type":"string","format":"password","description":"새 비밀번호 (영문 대/소문자, 숫자, 특수문자 포함 8자 이상)","example":"NewPass1!","maxLength":72,"minLength":8}},"required":["newPassword","token"]},"ResendVerificationRequest":{"type":"object","description":"인증 코드 재발송 요청","properties":{"email":{"type":"string","format":"email","description":"인증 코드를 재발송할 이메일 주소","example":"user@inha.edu","minLength":1}},"required":["email"]},"VerificationResendResponse":{"type":"object","description":"인증 코드 재발송 응답","properties":{"message":{"type":"string","description":"처리 결과 메시지","example":"인증 코드가 재발송되었습니다."},"email":{"type":"string","description":"인증 코드가 발송된 이메일 주소","example":"user@inha.edu"}}},"TokenRefreshResponse":{"type":"object","description":"토큰 갱신 응답","properties":{"accessToken":{"type":"string","description":"새로 발급된 JWT Access Token","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."},"expiresIn":{"type":"integer","format":"int64","description":"Access Token 만료까지 남은 시간 (초)","example":3600}}},"PasswordLoginRequest":{"type":"object","description":"비밀번호 기반 로그인 요청","properties":{"studentId":{"type":"string","description":"학번 (8자리 숫자)","example":12345678,"minLength":1,"pattern":"^\\d{8}$"},"password":{"type":"string","format":"password","description":"비밀번호","example":"Password1!","minLength":1}},"required":["password","studentId"]},"PasswordLoginResponse":{"type":"object","description":"로그인 성공 응답","properties":{"accessToken":{"type":"string","description":"JWT Access Token","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."},"userId":{"type":"integer","format":"int64","description":"사용자 고유 ID","example":1},"studentId":{"type":"string","description":"학번","example":12345678},"name":{"type":"string","description":"사용자 이름","example":"홍길동"},"role":{"type":"string","description":"사용자 권한","enum":["ASSOCIATE","MEMBER","OPERATOR","ADMIN"],"example":"MEMBER"},"expiresIn":{"type":"integer","format":"int64","description":"Access Token 만료까지 남은 시간 (밀리초)","example":3600000}}},"AccountRecoveryRequest":{"type":"object","description":"계정 복구 요청","properties":{"studentId":{"type":"string","description":"복구할 계정의 학번 (8자리 숫자)","example":12345678,"minLength":1,"pattern":"^\\d{8}$"},"password":{"type":"string","format":"password","description":"계정 비밀번호","example":"Password1!","minLength":1}},"required":["password","studentId"]},"AccountRecoveryResponse":{"type":"object","description":"계정 복구 응답","properties":{"accessToken":{"type":"string","description":"JWT Access Token","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."},"userId":{"type":"integer","format":"int64","description":"사용자 고유 ID","example":1},"studentId":{"type":"string","description":"학번","example":12345678},"name":{"type":"string","description":"사용자 이름","example":"홍길동"},"role":{"type":"string","description":"사용자 권한","enum":["ASSOCIATE","MEMBER","OPERATOR","ADMIN"],"example":"MEMBER"},"expiresIn":{"type":"integer","format":"int64","description":"Access Token 만료까지 남은 시간 (밀리초)","example":3600000},"message":{"type":"string","description":"복구 결과 메시지","example":"계정이 성공적으로 복구되었습니다"}}},"RegisterSemesterMembersRequest":{"type":"object","description":"학기별 회원 등록 요청","properties":{"userIds":{"type":"array","description":"등록할 회원 ID 목록","example":[1,2,3],"items":{"type":"integer","format":"int64"},"minItems":1}},"required":["userIds"]},"RegisterSemesterMembersResponse":{"type":"object","description":"학기별 회원 등록 결과 응답","properties":{"registeredCount":{"type":"integer","format":"int32","description":"등록된 회원 수","example":5},"skippedCount":{"type":"integer","format":"int32","description":"이미 등록되어 건너뛴 회원 수","example":2},"totalRequested":{"type":"integer","format":"int32","description":"요청된 총 회원 수","example":7}}},"BulkApprovalRequest":{"type":"object","description":"일괄 준회원 승인 요청","properties":{"userIds":{"type":"array","description":"승인할 사용자 ID 목록","example":[1,2,3],"items":{"type":"integer","format":"int64"},"minItems":1},"reason":{"type":"string","description":"승인 사유 (선택)","example":"2026년 1월 일괄 승인","maxLength":255,"minLength":0}},"required":["userIds"]},"BulkApprovalResultResponse":{"type":"object","description":"일괄 승인 결과 응답","properties":{"approvedCount":{"type":"integer","format":"int32","description":"승인 성공 건수","example":5},"failedCount":{"type":"integer","format":"int32","description":"승인 실패 건수","example":1},"totalRequested":{"type":"integer","format":"int32","description":"총 요청 건수","example":6}}},"UpdateReportStatusRequest":{"type":"object","properties":{"status":{"type":"string","enum":["PENDING","RESOLVED","DISMISSED"]}},"required":["status"]},"LikedPostResponse":{"type":"object","description":"좋아요한 게시글 응답","properties":{"postId":{"type":"integer","format":"int64","description":"게시글 ID","example":1},"title":{"type":"string","description":"게시글 제목","example":"안녕하세요"},"boardCode":{"type":"string","description":"게시판 코드","example":"GENERAL"},"boardName":{"type":"string","description":"게시판 이름","example":"자유게시판"},"authorName":{"type":"string","description":"작성자 이름","example":"홍길동"},"likeCount":{"type":"integer","format":"int32","description":"좋아요 수","example":42},"createdAt":{"type":"string","format":"date-time","description":"게시글 작성일"},"isDeleted":{"type":"boolean","description":"삭제 여부","example":false},"deletedMessage":{"type":"string","description":"삭제된 경우 메시지","example":"삭제된 게시글입니다"}}},"PageLikedPostResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/LikedPostResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"sorted":{"type":"boolean"},"empty":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"BookmarkedPostResponse":{"type":"object","description":"북마크한 게시글 응답","properties":{"postId":{"type":"integer","format":"int64","description":"게시글 ID","example":1},"title":{"type":"string","description":"게시글 제목","example":"안녕하세요"},"boardCode":{"type":"string","description":"게시판 코드","example":"GENERAL"},"boardName":{"type":"string","description":"게시판 이름","example":"자유게시판"},"authorName":{"type":"string","description":"작성자 이름","example":"홍길동"},"createdAt":{"type":"string","format":"date-time","description":"게시글 작성일"},"isDeleted":{"type":"boolean","description":"삭제 여부","example":false},"deletedMessage":{"type":"string","description":"삭제된 경우 메시지","example":"삭제된 게시글입니다"}}},"PageBookmarkedPostResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/BookmarkedPostResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"SemesterSummaryResponse":{"type":"object","description":"학기 요약 정보 응답","properties":{"year":{"type":"integer","format":"int32","description":"연도","example":2026},"semester":{"type":"integer","format":"int32","description":"학기 (1 또는 2)","example":1},"memberCount":{"type":"integer","format":"int64","description":"회원 수","example":30},"displayName":{"type":"string","description":"표시 이름","example":"2026년 1학기"}}},"SemesterMemberListResponse":{"type":"object","description":"학기별 회원 목록 응답","properties":{"userId":{"type":"integer","format":"int64","description":"사용자 ID","example":1},"studentId":{"type":"string","description":"학번","example":12345678},"name":{"type":"string","description":"이름","example":"홍길동"},"department":{"type":"string","description":"학과","example":"컴퓨터공학과"},"email":{"type":"string","description":"이메일","example":"user@example.com"},"phoneNumber":{"type":"string","description":"전화번호","example":"010-1234-5678"},"role":{"type":"string","description":"등록 시점 역할","enum":["ASSOCIATE","MEMBER","OPERATOR","ADMIN"],"example":"MEMBER"},"isWithdrawn":{"type":"boolean","description":"탈퇴 여부"}}},"PostLikeStatusResponse":{"type":"object","description":"게시글 좋아요 상태 조회 응답","properties":{"liked":{"type":"boolean","description":"현재 좋아요 상태","example":true},"likeCount":{"type":"integer","format":"int32","description":"게시글 총 좋아요 수","example":42}}},"CommentListResponse":{"type":"object","properties":{"comments":{"type":"array","items":{"$ref":"#/components/schemas/CommentWithRepliesResponse"}},"totalCount":{"type":"integer","format":"int64"}}},"CommentWithRepliesResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"postId":{"type":"integer","format":"int64"},"content":{"type":"string"},"authorId":{"type":"integer","format":"int64"},"authorName":{"type":"string"},"likeCount":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"replies":{"type":"array","items":{"$ref":"#/components/schemas/CommentResponse"}},"anonymous":{"type":"boolean"},"deleted":{"type":"boolean"},"likedByMe":{"type":"boolean"}}},"BookmarkStatusResponse":{"type":"object","description":"북마크 상태 조회 응답","properties":{"bookmarked":{"type":"boolean","description":"현재 북마크 상태","example":true}}},"InquiryListResponse":{"type":"object","description":"문의 목록 응답","properties":{"id":{"type":"integer","format":"int64","description":"문의 고유 ID","example":1},"inquiryNumber":{"type":"string","description":"문의 번호","example":"INQ-20240115-001"},"type":{"type":"string","description":"문의 유형","enum":["JOIN","GENERAL","BUG_REPORT","SUGGESTION"],"example":"JOIN"},"typeDescription":{"type":"string","description":"문의 유형 설명","example":"가입 문의"},"status":{"type":"string","description":"문의 상태","enum":["PENDING","IN_PROGRESS","ANSWERED","CLOSED"],"example":"PENDING"},"statusDescription":{"type":"string","description":"문의 상태 설명","example":"대기중"},"title":{"type":"string","description":"문의 제목","example":"동아리 가입 문의드립니다"},"authorName":{"type":"string","description":"작성자 이름","example":"홍길동"},"hasReply":{"type":"boolean","description":"답변 존재 여부","example":false},"attachmentCount":{"type":"integer","format":"int32","description":"첨부파일 개수","example":2},"createdAt":{"type":"string","format":"date-time","description":"문의 작성 일시","example":"2024-01-15T10:30:00Z"},"guest":{"type":"boolean"}}},"PageInquiryListResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/InquiryListResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"InquiryDetailResponse":{"type":"object","description":"문의 상세 응답","properties":{"id":{"type":"integer","format":"int64","description":"문의 고유 ID","example":1},"inquiryNumber":{"type":"string","description":"문의 번호","example":"INQ-20240115-001"},"type":{"type":"string","description":"문의 유형","enum":["JOIN","GENERAL","BUG_REPORT","SUGGESTION"],"example":"JOIN"},"typeDescription":{"type":"string","description":"문의 유형 설명","example":"가입 문의"},"status":{"type":"string","description":"문의 상태","enum":["PENDING","IN_PROGRESS","ANSWERED","CLOSED"],"example":"PENDING"},"statusDescription":{"type":"string","description":"문의 상태 설명","example":"대기중"},"title":{"type":"string","description":"문의 제목","example":"동아리 가입 문의드립니다"},"content":{"type":"string","description":"문의 내용","example":"안녕하세요. 동아리 가입 절차에 대해 문의드립니다."},"authorName":{"type":"string","description":"작성자 이름","example":"홍길동"},"authorEmail":{"type":"string","description":"작성자 이메일","example":"user@example.com"},"authorUserId":{"type":"integer","format":"int64","description":"작성자 사용자 ID (회원인 경우)","example":1},"attachments":{"type":"array","description":"첨부파일 목록","items":{"$ref":"#/components/schemas/AttachmentResponse"}},"reply":{"$ref":"#/components/schemas/InquiryReplyResponse","description":"답변 (답변이 없는 경우 null)"},"memos":{"type":"array","description":"관리자 메모 목록","items":{"$ref":"#/components/schemas/InquiryMemoResponse"}},"createdAt":{"type":"string","format":"date-time","description":"문의 작성 일시","example":"2024-01-15T10:30:00Z"},"updatedAt":{"type":"string","format":"date-time","description":"문의 수정 일시","example":"2024-01-15T11:00:00Z"},"guest":{"type":"boolean"}}},"BoardListResponse":{"type":"object","description":"게시판 목록 응답","properties":{"code":{"type":"string","description":"게시판 코드","example":"GENERAL"},"name":{"type":"string","description":"게시판 이름","example":"자유게시판"},"description":{"type":"string","description":"게시판 설명","example":"자유롭게 이야기를 나눌 수 있는 공간입니다."},"canRead":{"type":"boolean","description":"읽기 권한 여부","example":true},"canWrite":{"type":"boolean","description":"쓰기 권한 여부","example":true}}},"BoardDetailResponse":{"type":"object","description":"게시판 상세 응답","properties":{"code":{"type":"string","description":"게시판 코드","example":"GENERAL"},"name":{"type":"string","description":"게시판 이름","example":"자유게시판"},"description":{"type":"string","description":"게시판 설명","example":"자유롭게 이야기를 나눌 수 있는 공간입니다."},"allowsAnonymous":{"type":"boolean","description":"익명 작성 허용 여부","example":true},"allowsQuestionTag":{"type":"boolean","description":"질문 태그 허용 여부","example":true},"canRead":{"type":"boolean","description":"읽기 권한 여부","example":true},"canWrite":{"type":"boolean","description":"쓰기 권한 여부","example":true}}},"PostListPageResponse":{"type":"object","properties":{"posts":{"type":"array","items":{"$ref":"#/components/schemas/PostListResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"}}},"PostListResponse":{"type":"object","properties":{"postId":{"type":"integer","format":"int64"},"title":{"type":"string"},"authorName":{"type":"string"},"isAnonymous":{"type":"boolean"},"isQuestion":{"type":"boolean"},"viewCount":{"type":"integer","format":"int32"},"likeCount":{"type":"integer","format":"int32"},"commentCount":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"}}},"PostDetailResponse":{"type":"object","properties":{"postId":{"type":"integer","format":"int64"},"boardCode":{"type":"string"},"title":{"type":"string"},"content":{"type":"string"},"authorId":{"type":"integer","format":"int64"},"authorName":{"type":"string"},"isAnonymous":{"type":"boolean"},"isQuestion":{"type":"boolean"},"viewCount":{"type":"integer","format":"int32"},"likeCount":{"type":"integer","format":"int32"},"commentCount":{"type":"integer","format":"int32"},"imageUrls":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"isAuthor":{"type":"boolean"},"liked":{"type":"boolean"},"bookmarked":{"type":"boolean"}}},"PostViewStatsResponse":{"type":"object","properties":{"postId":{"type":"integer","format":"int64"},"totalViews":{"type":"integer","format":"int64"},"uniqueViewers":{"type":"integer","format":"int64"}}},"PagePostViewHistoryResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/PostViewHistoryResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PostViewHistoryResponse":{"type":"object","properties":{"viewId":{"type":"integer","format":"int64"},"viewerId":{"type":"integer","format":"int64"},"viewerName":{"type":"string"},"viewedAt":{"type":"string","format":"date-time"}}},"RecoveryEligibilityResponse":{"type":"object","description":"계정 복구 가능 여부 응답","properties":{"recoverable":{"type":"boolean","description":"복구 가능 여부","example":true},"recoveryDeadline":{"type":"string","format":"date-time","description":"복구 가능 마감 시한 (복구 가능한 경우에만 존재)","example":"2024-02-15T10:30:00Z"},"message":{"type":"string","description":"안내 메시지","example":"탈퇴한 계정입니다. 복구하시겠습니까?"}}},"CandidateMemberResponse":{"type":"object","description":"학기별 회원 등록 후보 응답","properties":{"userId":{"type":"integer","format":"int64","description":"사용자 ID","example":1},"studentId":{"type":"string","description":"학번","example":12345678},"name":{"type":"string","description":"이름","example":"홍길동"},"department":{"type":"string","description":"학과","example":"컴퓨터공학과"},"role":{"type":"string","description":"현재 역할","enum":["ASSOCIATE","MEMBER","OPERATOR","ADMIN"],"example":"MEMBER"},"alreadyRegistered":{"type":"boolean","description":"해당 학기 등록 여부"}}},"Page":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"RemoveSemesterMembersRequest":{"type":"object","description":"학기별 회원 제외 요청","properties":{"userIds":{"type":"array","description":"제외할 회원 ID 목록","example":[1,2,3],"items":{"type":"integer","format":"int64"},"minItems":1}},"required":["userIds"]}},"securitySchemes":{"Bearer Authentication":{"type":"http","description":"JWT Access Token을 입력하세요.\n\n형식: Bearer {token} (Bearer 접두사는 자동으로 추가됩니다)\n\n예시: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c\n","name":"Authorization","in":"header","scheme":"bearer","bearerFormat":"JWT"}}}}