spring:
  datasource:
    url: jdbc:mysql://localhost:3306/igrus-web
    username: ${USER_NAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  jwt:
    secret: local-dev-secret-key-do-not-use-in-production