spring:
  profiles:
    active: local
  datasource:
    url: jdbc:mysql://localhost:3306/igrusweb
    username: root
    
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true