spring:
  profiles:
    active: local
  datasource:
    url: jdbc:mysql://localhost:3306/igrusweb
    username: ${USER_NAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  jwt:
    secret: kR7mXp2vNqL9wYbC4hFjT8sA1uZdG6eP3xKoM5iW
    access-token-validity: 3600000      # 1시간
    refresh-token-validity: 604800000   # 7일