spring:
  datasource:
    url: jdbc:mysql://localhost:3306/igrus-web
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:test@gmail.com}
    password: ${MAIL_PASSWORD:test}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

springdoc:
  server-url: http://localhost:8080

logging:
  level:
    org.springframework.security.oauth2: DEBUG
    org.springframework.security.web: DEBUG


app:
  jwt:
    secret: local-dev-secret-key-do-not-use-in-production
  cookie:
    secure: false
    same-site: Lax
