name: Backend Production CD Pipeline
on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - '.github/workflows/backend-prod-cd.yaml'
      - '!backend/docs/**'

env:
  AWS_REGION: ${{ vars.AWS_REGION }}
  ECR_REPOSITORY_SPRING: ${{ vars.ECR_REPOSITORY_SPRING }}
  CONTAINER_NAME_SPRING: ${{ vars.CONTAINER_NAME_SPRING }}
  ECS_SERVICE_SPRING: ${{ vars.ECS_SERVICE_SPRING }}
  ECS_CLUSTER: ${{ vars.ECS_CLUSTER }}
  ECS_TASK_DEFINITION_NAME_SPRING: ${{ vars.ECS_TASK_DEFINITION_NAME_SPRING }}
  SPRING_ACTIVE_PROFILE: ${{ vars.SPRING_ACTIVE_PROFILE }}
  AWS_BACKEND_GITHUB_ACTIONS_ROLE_ARN: ${{ vars.AWS_BACKEND_GITHUB_ACTIONS_ROLE_ARN }}

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ env.AWS_BACKEND_GITHUB_ACTIONS_ROLE_ARN }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR [Spring]
        id: build-image-spring
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          # Build a docker container and
          # push it to ECR so that it can
          # be deployed to ECS.
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY_SPRING:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY_SPRING:$IMAGE_TAG
          echo "image=$ECR_REGISTRY/$ECR_REPOSITORY_SPRING:$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Get Latest ECS Task Definition ARN
        id: get-latest-task-df
        run: |
          LATEST_TASK_DEF=$(aws ecs describe-task-definition \
            --task-definition $ECS_TASK_DEFINITION_NAME_SPRING \
            --query 'taskDefinition.taskDefinitionArn' \
            --output text)
          echo "ECS_TASK_DEFINITION_ARN=$LATEST_TASK_DEF" >> $GITHUB_ENV

      - name: Fill in the new image ID in the Amazon ECS task definition [Spring]
        id: task-def-spring
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition-arn: ${{ env.ECS_TASK_DEFINITION_ARN }}
          container-name: ${{ env.CONTAINER_NAME_SPRING }}
          image: ${{ steps.build-image-spring.outputs.image }}

      - name: Deploy Amazon ECS task definition
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: ${{ steps.task-def-spring.outputs.task-definition }}
          service: ${{ env.ECS_SERVICE_SPRING }}
          cluster: ${{ env.ECS_CLUSTER }}
          wait-for-service-stability: true